#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}

td {
  width:20px;
  max-width: 20px;
  background-color: black;
}

.grid-container-element { 
  display: grid; 
  grid-gap: 5px; 
} 
.grid-child-element { 
  margin-bottom: 20px; 
}
