#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}


table.auto-complete td {
  border-color: rgba(0, 21, 211, 0.823);
}

table, th, td {
  background-color: black;
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
}

td {
  width:20px;
  max-width: 20px;
}

.grid-container-element { 
  display: grid; 
  grid-gap: 5px; 
} 
.grid-child-element { 
  margin-bottom: 20px; 
}

.letters-used-container {
  display: grid;
  width: 20%;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin:auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.letters-used-element {
  background-color: rgb(147, 147, 147);
  cursor: pointer;
  /* max-width: 10px; */
}

.top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(71, 71, 71);
  text-align: center;
  padding: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(71, 71, 71);
  text-align: center;
}